* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  margin-top: 100px;
  background-color: white;

  /* Se va a cambiar despues  */
}
.contenedor {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: fixed;
  margin-top: -100px;
  text-align: end;
  margin-bottom: 0px;
  z-index: 100;
  box-shadow: 0 0.1rem 0.2rem rgb(128, 122, 122);
}

@media only screen and (max-width: 1200px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
  }
}

.navegacion_enlace {
  display: inline-block;
  padding: 10px;
  color: black;
}
/* dandole propiedad a mi logo en la barra de navegacion  */
a > img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 1200px) {
  .contenedor > a {
    text-align: center;
  }
}

section {
  max-width: 1536px;
  margin: 0 auto;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* se esta seleccionando la etiqueta <a> para modificarla y quitarle el hipervinculo ademas de cambiarle el color */

a {
  text-decoration: none;
  color: black;
}

/* se usa para añadirle resaltado a nuestros enlaces o etiquetas */
a:hover {
  color: rgba(255, 41, 198, 0.7);
}
/* creando la animacion del resaltado (donde dice color ahi podemos dejarlo vacio y crear tra propiedad para configurar el color) */

/* estoy llamando al color antes declarado en la parte de transition para ya no volverla hacer */

a {
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* posicionamiento de de contenido */
.navegacion {
  margin-right: 100px;
  padding-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .navegacion {
    margin-right: 0px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
}

/* Header    box shadow es el border al rededor de las cajas pero tambien tenemos el text-shadow */

header {
  background-image: url("img/header1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
}

header.header_Playas {
  background-image: url("img/playa1.jpg");
}

header.header_Artesanias {
  background-image: url("img/Artesanias_header.jpg");
}

header.header_Ciudad {
  background-image: url("img/Ciudadheader.jpg");
}

header.header_Lagos {
  background-image: url("img/Lagoheader.jpg");
}

header.header_Pueblos {
  background-image: url("img/Pueblo1header.jpg");
}

header.header_Volcanes {
  background-image: url("img/Volcan1.jpg");
}

/*  pagina home  */

header span {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: larger;
}

/* configuracion del contenedor flexible del body */

.flex_item img {
  height: 80%;

  display: block;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  .flex_item img {
    height: auto;
    width: 80%;
  }
}

.flex_container {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  border: 2px solid rgb(255, 255, 255);
}

@media only screen and (max-width: 1200px) {
  .flex_container {
    display: block;
  }
}

.flex_item {
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  height: 400px;
  width: 50%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .flex_item {
    width: auto;
    height: auto;
  }
}

.item2 span {
  font-size: 10px;
  text-align: justify;
}

footer {
  display: inline-block;
  background-color: #ffffff62;
  height: 750px;
  width: 100%;
  color: rgba(4, 4, 4, 0.706);
  background-image: url("./img/Estero0.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  footer {
    height: auto;
  }
}

.footer_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: -webkit-fill-available;
}

@media only screen and (max-width: 600px) {
  .footer_container {
    position: relative;
  }
}

.footer_text {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}
/* 
estilo del texto sobre la imagen de encabezado este span afecta las cajitas  */

.texto1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

/* alineando texto etiquetas span que contine el texto */

span h3 {
  text-align: center;
}

span h4 {
  text-align: center;
}

span h1 {
  text-align: center;
}

span p {
  text-align: justify;
}

.footer_container span {
  font-size: 50px;
  color: white;
}

.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer_text img {
  width: 200px;
  height: 200px;
}

footer section {
  text-align: center;
}

.footer_text {
  text-align: center;
}
